<h1>- Your Get and Post Cool URL Site -</h1>

<!-- <p>Say something to Aunty</p> -->
How Cool do you like your websites?<br>
<form action="/get_cool" method="post">
<!--  <input type="text" name="user_input_1"> -->
  <!--  <div align="left"><br> -->
  <input type="radio" name="group1" value="Lukewarm"> Lukewarm (Boooo)<br>
  <input type="radio" name="group1" value="Cool"> Cool<br>
  <input type="radio" name="group1" value="Ice Cold"> Ice Cold (Gravitate your pointer towards here)<p>
  <input type="submit" value="Get Cool URLs!">
</form>

<p><hr>
Submit the coolest website you know to this list!<br>
<form action="/cool_url" method="post">
  <input type="text" name="user_input_2" value="Insert KEWLEST URL"><br><br>
  <textarea cols="40" rows="5" name="myname">
  Why did you recommend that website?
  </textarea><p>
    <input type="submit" value="Post Cool URL!">
</form>


<p>

<hr>
<h2>List of all url.</h2>
<form action="/list_of_all_url" method="post">
  <input type="submit" value="See List">
</form>


<!-- <form action="/form" method="post">
<input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>
</form>
 -->